<div class="container">
	<div class="row">
		<div class="span12">
			<h1>The SimpleFi team</h1>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<img alt="Dino Setiawan" src="assets/dinos.jpeg" />
		</div>
		<div class="span9">
			<div class="well">
				<span><h3>Dino Setiawan</h3></span>
				<span style="font-style:italic">Finance and Banking</span>
				<span class="height: 25px"</span>
				<span><p>Background details</p></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12"><hr></div>
	</div>
	<div class="row">
		<div class="span2">
			<img alt="Adam Potter" src="assets/adamp.jpeg" />
		</div>
		<div class="span9">
			<div class="well">
				<span><h3>Adam Potter</h3></span>
				<span style="font-style:italic">Sales</span>
				<span class="height: 25px"</span>
				<span><p>Background details</p></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12"><hr></div>
	</div>
	<div class="row">
		<div class="span2">
			<img alt="Andre Oschadlin" src="assets/andreo.jpg" />
		</div>
		<div class="span9">
			<div class="well">
				<span><h3>Andre Oschadlin</h3></span>
				<span style="font-style:italic">Engineering</span>
				<span class="height: 25px"</span>
				<span><p>Background details</p></span>
			</div>
		</div>
	</div>
</div>