<div class="row well">
	<div class="span12">
		<h1>About Us</h1>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="span2">
			<ul>
				<li>The SimpleFi team believe that there is an urgent need for basic finance education for many people currently over paying for debt</li>
			</ul>
		</div>
		<div class="span2">
			<img alt="Dino Setiawan" src="assets/dinos.jpeg" />
		</div>
		<div class="span7">
			<div class="well">
				<span><h3>Dino Setiawan</h3></span>
				<span style="font-style:italic">Finance and Banking</span>
				<span><p>Prior to SimpleFi, Dino served as a Vice President in Morgan Stanley. He spent six years raising capital for companies. Prior to investment banking he spent six years of his career in Australia as a derivatives product controller at Macquarie Bank, as a treasury risk analyst at Citibank, and corporate banker at ANZ Bank. He recently graduated from the Stanford Business School.</p></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<ul>
				<li>Our value proposition to companies is delivery of effective financial literacy education to the workforce using access to low cost loans as an incentive to learn</li>
			</ul>
		</div>
		<div class="span2">
			<img alt="Adam Potter" src="assets/adamp.jpeg" />
		</div>
		<div class="span7">
			<div class="well">
				<span><h3>Adam Potter</h3></span>
				<span style="font-style:italic">Business Development</span>
				<span><p>Prior to SimpleFi, Adam consulted for USAID and the Department of Defense working with government and the military preparing to operate in high risk regions in Iraq, Afghanistan and Africa. Prior to consulting, Adam served nine years of active duty as a marine officer in various special operations units. He recently graduated from the Stanford Business School.</p></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">
			<ul>
			<li>A financially healthier workforce should be more productive, and we hope a positive movement to get workers off debt can be driven through the workplaces of America</li>
      </ul>
		</div>
		<div class="span2">
			<img alt="Andre Oschadlin" src="assets/andreo.jpg" />
		</div>
		<div class="span7">
			<div class="well">
				<span><h3>Andre Oschadlin</h3></span>
				<span style="font-style:italic">Product Development</span>
				<span><p>Prior to SimpleFi, Andre consulted to startups in Product and Customer Development.
				Andre has over 14 years of experience in software development and technology working with
				companies such as Yahoo, IBM and various startups.  Andre brings a strong breadth of
			  technical and strategic knowledge in Product Development.</p></span>
			</div>
		</div>
	</div>
</div>