<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Contact Us</h1>
			<h3>Interested to learn more? Comments? Please contact us at:</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">&nbsp;</div>
		<div class="span4 well">
			<span>
				<address>
			  <strong>SimpleFi, Inc.</strong><br>
			  530 Lytton Avenue<br>
			  2nd Floor<br>
			  Palo Alto, CA 94301<br>
			  United States<br>
				</address>
			</span>
			<span>Email:</span></br>
			<span><a href="mailto:adamp@simplefi.org?Subject=Sales%20contact">Contact Sales</a></span><br>
			<span><a href="mailto:andreo@simplefi.org?Subject=Support%20contact">Contact Tech Support</a></span><br>
		</div>
	</div>
</div>