<div class="row well">
	<div class="span12"><h1>Contact Us</h1></div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
			<h3>Want to learn more?</h3>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h5 style="font-style: italic; color: #B81456;">(We're also seeking employers to join us in a beta program.  Contact us at the address below to register your interest.)</h5>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<h3>Contact us at:</h3>
		</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span3">
			<span>Email: <b>adamp@simplefi.org</b></span>
		</div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span3">
			<span>
				<address>
			  <strong>SimpleFi, Inc.</strong><br>
			  530 Lytton Avenue<br>
			  2nd Floor<br>
			  Palo Alto, CA 94301<br>
			  United States<br>
				</address>
			</span>
		</div>
	</div>
</div>