<div class="row well">
	<div class="span12"><h1>Employer benefits</h1></div>
</div>
<div class="container">
	<div class="row well heading-box">
		<div class="span12">Excessive employee debt causes problems at work</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<ul class="info-bullets">
				<li>Reduced productivity from distractions at work</li>
				<li>Less loyal as financial pressures can drive decision making</li>
				<li>Financial problems are the leading contributor to general stress, potentially leading to increased absenteeism</li>
			</ul>
		</div>
	</div>
	<div class="row well heading-box">
		<div class="span12">Consumer debt is a major problem across the United States</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<ul class="info-bullets">
				<li>Surveys show half of the US workforce feel they have severe financial problems</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12 center"><img alt="Family credit card repayments" src="assets/family_credit_card.png" /></div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<ul class="info-bullets">
				<li>Data shows bulk of credit card debt is with middle to high income earning households</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span12 center"><img alt="Individual payday loan usage" src="assets/individual_payday_loans.png" /></div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span11">
			<ul class="info-bullets">
				<li>Very expensive payday loans at 400%+ interest rates are used by one in 10 lower income earners</li>
			</ul>
		</div>
	</div>
	<div class="row well heading-box">
		<div class="span12">Financial literacy education and assistance as an employee benefit</div>
	</div>
	<div class="row">
		<div class="span5 well" style="min-height:170px;">
			<span style="font-size:1.5em; font-style:bold;">A Financially Healthier Workplace</span>
			<ul class="info-bullets">
				<li>We provide your workforce with knowledge to avoid predatory lending</li>
				<li>Build a good credit profile so employees can access lower cost mainstream finance</li>
				<li>Provide financial assistance to those needing a hand out of debt traps</li>
			</ul>
		</div>
		<div class="span1">
		</div>
		<div class="span5 well" style="min-height:170px;">
			<span style="font-size:1.5em; font-style:bold;">Easy to Implement Program</span>
			<ul class="info-bullets">
				<li>All administration done in initial employee setup</li>
				<li>We have no ongoing administrative burden on HR</li>
				<li>Company bears no financial liability for providing assistance - as we are a funded social venture</li>
			</ul>
		</div>
	<div class="row">
		<div class="span12" style="text-align:center">
			  <%= link_to "Contact us today to get your program started", contact_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>