<div class="center hero-unit">
  <h1>Welcome to SimpleFi</h1>

  <h2>Practical financial education with financial assistance</h2>
</div>
<div class="container">
	<div class="row" style="margin-bottom:15px">
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Get educated</div>
				<p>Work through tailored lessons at your own pace.  Learn the 'magic' of the finance world
					and take control of your future.</p>
			</div>
		</div>
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Get away from bad debt</div>
				<p>Refinance with smarter options to reduce your interest repayments and get out of debt faster.</p>
			</div>
		</div>
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Help friends and family</div>
				<p>Build a culture of saving and focus on wealth building.</p>
			</div>
		</div>
	</div>
	<div class="row center" style="margin-left:auto;">
		<div class="well lesson-box">
			<div class="row">
				<div class="span12 center"><h3 style="color:white">Test your financial knowledge with this example question</h3></div>
			</div>
			<div class="row">
				<div class="span12 center"><h2 style="color:white">Select which loan you believe is cheaper</h2></div>
			</div>
			<div id="lesson" class="row">
				<div class="span1">&nbsp;</div>
				<div class="span4">
					<div id="quiz-answer1" class="well btn btn-large btn-primary highlight-box">
						<span class="box-headline">Interest Free Loan</span><br>
						Loan amount: $1,000<br>
						Monthly repayment: $200<br>
						Upfront fee: 4% or $40<br>
						Interest: Zero
					</div>
				</div>
				<div class="span1">&nbsp;</div>
				<div class="span4">
					<div id="quiz-answer2" class="well btn btn-large btn-primary highlight-box">
						<span class="box-headline">9% Interest (APR) Loan</span><br>
						Loan amount: $1,000<br>
						Monthly repayment: $200<br>
						Upfront fee: $0<br>
						Interest: 9%
					</div>
				</div>
				<div class="span2">&nbsp;</div>
			</div>
			<div id='quiz-answer' class="row">
			</div>
			<div class="row">
				<div class="span12">&nbsp;</div>
			</div>
			<div id='btn-store' class="row">
			</div>
			<div class="row">
				<div class="span12">&nbsp;</div>
			</div>
			<div id="quiz-table" class="row">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span2">&nbsp;</div>
		<div class="span7 highlight-box well" id="mc_embed_signup">
			<form action="http://simplefi.us5.list-manage.com/subscribe/post?u=576ce7b0374b7e53e224bd01f&amp;id=53ead0005c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Subscribe to our mailing list to learn about our launch and get access to more financial tips and lessons.</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-primary"></div>
			</form>
		</div>
		<div class="span3">&nbsp;</div>
	</div>
</div>