<div class="center hero-unit">
  <h1>Welcome to SimpleFi</h1>

  <h2>Practical financial education with financial assistance</h2>
</div>
<div class="container">
	<div class="row" style="margin-bottom:15px">
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Get educated</div>
				<p>Work through tailored lessons at your own pace.  Learn the 'magic' of the finance world
					and take control of your future.</p>
			</div>
		</div>
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Get away from bad debt</div>
				<p>Refinance with smarter options to reduce your interest repayments and get out of debt faster.</p>
			</div>
		</div>
		<div class="span4">
			<div class="well benefit-box">
				<div class="box-headline">Help friends and family</div>
				<p>Build a culture of saving and focus on wealth building.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12 center"><h3>Test your financial knowledge with this example question</h3></div>
	</div>
	</div>
	<div class="row">
		<div id="lesson" class="row">
			<div class="span2">&nbsp;</div>
			<div class="span4">
				<div id="quiz-answer1" class="well quiz-box">
					<span class="box-headline">Interest Free Loan</span><br>
					Loan amount: $1,000<br>
					Monthly repayment: $200<br>
					Upfront fee: 4% or $40<br>
					Interest: Zero
				</div>
			</a>
			</div>
			<div class="span4">
				<div id="quiz-answer2" class="well quiz-box">
					<span class="box-headline">9% Interest Loan</span><br>
					Loan amount: $1,000<br>
					Monthly repayment: $200<br>
					Upfront fee: $0<br>
					Interest: 9%
				</div>
			</div>
			<div class="span2">&nbsp;</div>
		</div>
		<div class="span12" style="text-align:center">
			  <%= link_to "Contact us to get your company on board and learn more", contact_path, class: "btn btn-large btn-primary" %>
		</div>
	</div>
</div>