<div class="row well">
	<div class="span12"><h1>How it works</h1></div>
</div>
<div class="container">
	<div class="row">
		<div class="span12">
			<p>We aim to make finance easy and simple to learn.</p>
			<p>Our lessons are bite sized and practical - with real financial assistance to help you put into practice what we teach.</p>
		</div>
	</div>
	<div class="row">
		<div class="span12"><p>Here's an example of a lesson on credit card balance transfers and assistance with the transfer fee.</p></div>
	</div>
	<div class="row">
		<div class="span12"><h3>Choose to transfer balance or keep repaying as normal?</h3></div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span4 well highlight-box">
			<span class="box-headline">Balance transfer deal</span><br>
			Transfer amount: $5,000<br>
			Zero interest period: 6 months<br>
			Transfer fee: $200 (4%)<br>
		</div>
		<div class="span4 well highlight-box">
			<span class="box-headline">Repay credit card as normal</span><br>
			Balance amount: $5,000<br>
			Interest period: Paid monthly<br>
			Interest rate: 12%<br>
			Monthly payment: $500<br>
		</div>
	</div>
	<div class="row">
		<div class="span12">&nbsp;</div>
	</div>
	<div class="row">
		<div class="span12">
			<p>Now it would seem like the balance transfer deal would save you money.  But lets turn the transfer fee into what's called an Annual Percentage Rate (APR) so you can compare apples to apples.</p>
			<p>Now the true APR cost if you're also paying back $500 every month on the balance transfer deal is <span style="font-weight:bold;">10.7%</span>.</p>
		</div>
	</div>
	<div class="row">
		<div class="span12 center">
			<div id="btn-transfer-table" class="btn btn-large btn-info">Review detailed calculations</div>
			<div id="btn-calculator" class="btn btn-large btn-info">General calculator</div>
		</div>
	</div>
	<div class="row">
		<div class="span1">&nbsp;</div>
		<div class="span9">
			<table id="transfer-table" class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td>&nbsp;</td>
						<td>Loan Amount</td>
						<td>10.7% APR</td>
						<td>APR divided by 12 to<br>get monthly interest</td>
						<td>Monthly Interest</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>January</td>
						<td>$5,000</td>
						<td>$533</td>
						<td>$533 &divide; 12 = 44.4</td>
						<td style="text-align:right;">$44.44</td>
					</tr>
					<tr>
						<td>February</td>
						<td>$4,500</td>
						<td>$480</td>
						<td>$480 &divide; 12 = 40.0</td>
						<td style="text-align:right;">$40.00</td>
					</tr>
					<tr>
						<td>March</td>
						<td>$4,000</td>
						<td>$427</td>
						<td>$427 &divide; 12 = 35.6</td>
						<td style="text-align:right;">$35.60</td>
					</tr>
					<tr>
						<td>April</td>
						<td>$3,500</td>
						<td>$373</td>
						<td>$373 &divide; 12 = 31.1</td>
						<td style="text-align:right;">$31.10</td>
					</tr>
					<tr>
						<td>May</td>
						<td>$3,000</td>
						<td>$320</td>
						<td>$320 &divide; 12 = 26.7</td>
						<td style="text-align:right;">$26.67</td>
					</tr>
					<tr>
						<td>June</td>
						<td>$2,500</td>
						<td>$267</td>
						<td>$267 &divide; 12 = 22.2</td>
						<td style="text-align:right;">$22.22</td>
					</tr>
					<tr>
						<td colspan=5 style="text-align:right;">Total $200.00</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="span2">&nbsp;</div>
		<div class="span8">
			<div id="calculator-form" title="Calculator">
				<legend>Calculator</legend>
				<p>All form fields are required.&nbsp;<span id="calculator-status" style="color:red;"></span></p>

				<form class="form-horizontal">
					<div class="control-group">
						<label class="control-label" for="calculator-fee">Upfront Fee</label>
						<div class="controls">
							<input type="text" id="calculator-fee" placeholder="Upfront Fee" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="calculator-loan-balance">Loan Balance</label>
						<div class="controls">
							<input type="text" id="calculator-loan-balance" value="" placeholder="Loan Balance"/>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="calculator-payment">Monthly Payment</label>
						<div class="controls">
							<input type="text" id="calculator-payment" value="" placeholder="Monthly Payment" /><br>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="calculator-interest-free-period">Interest Free Period</label>
						<div class="controls">
							<input type="text" id="calculator-interest-free-period" value="" placeholder="Interest Free Period" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="calculator-apr">APR</label>
						<div class="controls">
							<input type="text" id="calculator-apr" value="" placeholder="APR" />
						</div>
					</div>
					<div class="control-group">
						<div class="controls">
							<span id="btn-calculator-result" class="btn btn-small btn-primary">Calculate</span>
							<span id="btn-calculator-close" class="btn btn-small">Close</span>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<p>For those who would like to proceed with the balance transfer and need some assistance with the $200 transfer fee, SimpleFi can help by providing a low cost loan to help users with that fee.</p>
			<div class="row">
				<div class="span12 center">
					<div id="btn-assistance" class="btn btn-large btn-info">Request assistance</div>
				</div>
			</div>
			<div id="assistance" class="row">
				<div class="span1">&nbsp;</div>
				<div class="span9">
					<p>As an employee benefit we would verify you as an active employee then directly transfer
					financial assistance to pay for the fee.</p>
				</div>
			</div>
			<p>We also set up a plan where these small amounts of financial assistance are paid back to us, allowing us to report back timely repayment to credit bureaus and thus help strengthen your credit scores.</p>
	</div>
</div>