@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$navLink: #777;
$navHover: #aaa;
$boxBackgroundColor: #CAE4FA;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.container-padding {
	margin-top: 5px;
	margin-bottom: 5px;
}

.logo-text {
  line-height: 2.2em;
  font-size: 1.7em;
}

.benefit-box {
  background-color: $boxBackgroundColor;
  height: 120px;
}

.box-headline {
  font-size:1.5em;
  font-weight:bold;
  line-height: 1.8em;
}

.highlight-box {
  text-align: left;
  background-color: $boxBackgroundColor;
  min-height: 150px;
}

.heading-box {
  margin-top: 20px;
  text-align: center;
  line-height: 1;
  font-size: 2em;
  background-color: $boxBackgroundColor;
}

.info-bullets {
  font-size: 1.2em;
}

.lesson-box {
  background-color: #4f81be;
  min-height: 220px;
}

.answer-text {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.25em;
  color: $grayMediumLight;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $navLink;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
 /* font-family: georgia; */
}

#logo:hover {
  color: $navHover;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
  	color: $gray;
	&:hover {
  		color: $grayDarker;
  	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
  	list-style: none;
  	li {
  		float: left;
  		margin-left: 10px;
  	}
  }
}

.footer-nav {
  background-color: $grayMediumLight;
  min-height: 30px;
}
