<footer class="footer footer-nav" style="height:70px;">
  <nav style="height:100%;">
    <%

#    <ul class="pull-left">
#      <li><a href="http://suzeorman.com/" target="blank">Suze Orman</a></li>
#      <li><a href="http://www.daveramsey.com/home/" target="blank">Dave Ramsey</a></li>
#      <li><a href="https://cccssf.org/" target="blank">Consumer Credit Counseling</a></li>
#    </ul>
    %>
    <ul class="pull-right">
    	<li><a href="https://twitter.com/share" data-url="http://simplefi.org" data-text="Financial education and assistance as a work place benefit. #SimpleFi2012 Visit" class="twitter-share-button" data-lang="en">Tweet</a></li>
    	<li><iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fsimplefi2012"
        scrolling="no" frameborder="0"
        style="border:none; width:350px; height:70px"></iframe></li>
    </ul>
  </nav>
</footer>