<footer class="footer footer-nav">
  <nav>
    <ul class="pull-left">
      <li><a href="http://finance.yahoo.com/" target="blank">Yahoo News</a></li>
      <li><a href="https://nyse.nyx.com/" target="blank">NYSE</a></li>
      <li><a href="http://google.com/finance" target="blank">Google Finance</a></li>
    </ul>
  </nav>
</footer>